body{
    background-color: black;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('background-image.webp');
    background-repeat:repeat;
    background-size: contain;
}

#welcome-msg{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 20px 40px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    border: 2px solid grey;
    border-radius: 50px;
    z-index: 999;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut{
    0%{opacity:1;}
    100%{opacity:0; visibility:hidden;}
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    z-index: 999;
    background-color: rgba(50, 50, 50, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width:100%;
}
.head-left{
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.head-left a{
    text-decoration: none;
    color: white;
}
.head-left a{
    text-decoration: none;
    cursor: pointer;
    padding-right:10px;
    color: white;
    position: relative;
    transition: 0.3s;
}
.head-left a:hover{
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff;
}
.head-right{
    display: flex;
}
.head-right a{
    text-decoration: none;
    cursor: pointer;
    padding-right:10px;
    color: white;
    position: relative;
    transition: 0.3s;
}
.head-right a:hover{
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff;
}
#logo{
    width: 300px;
    cursor: pointer;
}

/*THE MAIN PAGE SECTION*/
.main-page{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main-vid{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-vid h3{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}
.main-info{
    z-index: 1;
    position: absolute;
    color: white;
    top: 80px;
    left: 50px;
}
.main-info h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-info p{
    color: white;
    max-width: 300px;
}
.main-info button{
    appearance: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 20px;
    cursor: pointer;    
    transition: 0.3s;
    border-radius: 5px;
}
.main-info button:hover{
    background-color: rgba(0, 132, 255, 1);
    box-shadow: 0 0 15px white;
}
#next{
    position: absolute;
    top: 45%;
    left: 90%;
    appearance: none;
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 83px;
    transition: 0.3s;
}
#next:hover{
    transform: scale(1.2);
}

/*ABOUT SECTION*/
.about-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    max-width: 1150px;
    margin: 20px 0px;
}

.about-section p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

/*Increasing image size to fullscreen animation*/
.autoTakeFull{
    animation: autoTakeAnimation linear both;
    animation-timeline: view(95% 65%);
}

@keyframes autoTakeAnimation{
    to{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
}

.info-section h3{
    margin: 0;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Regular', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.info-section p{
    margin-top: 5px;
    color: grey;
    max-width: 400px;
    line-height: 25px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 50px;
    transition: 0.3s;
}

.card h1{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Regular', sans-serif;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    max-width: 250px;
}

.card p{
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgray;
}

.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    transition: 0.3s;
    z-index: 1;
}

.card button:hover{
    box-shadow: 0 0 15px white;
}

.card:hover{
    box-shadow: 0 0 50px white;
}

.card:nth-child(1){
    grid-column: span 2;
}
.card:nth-child(2){
    grid-row: span 2;
    height: 83vh;
}
.card:nth-child(5){
    background-color:  rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

/*NEW VIDEO SUBMISSION FORM*/
.sub-form{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #333;
    width: 100%;
    margin-top: 200px;
    align-items: center;
}

.sub-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sub-form td{
    text-align: right;
}
.sub-form input{
    appearance: none;
    border: 2px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}
.sub-form button{
    appearance: none;
    border: 2px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}
.sub-form button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 15px white;
}